Repository neoforged/websites, pull requests merged in 2024-06, with the labels that each got.

#38 Add heading anchors
  CONTRIBUTORS
  layouts/_default/_markup/render-heading.html
  themes/mainroad/assets/css/style.css
  themes/mainroad/layouts/partials/colors.css
  themes/mainroad/layouts/partials/svg/link.svg
Labels: enhancement

#39 The 1.21 update blog post
  content/news/20.2release.md
  content/news/20.3release.md
  content/news/20.5release.md
  content/news/21.0release.md
Labels: enhancement, new release

#45 Add PlantType replacement work
  content/news/21.0release.md
Labels: documentation

#44 Update news with ItemAbilities rename
  content/news/21.0release.md
Labels: new release
